<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  {% comment 'first comment' %}
  <h3>list[0]:{{ list[0] }}</h3>
  {% endcomment %}

  <h1>标签实现</h1>
  {% for name in list %}
    <p style="background:
      {% if forloop.first %}
        red
      {% elif forloop.last %}
        yellow
      {% else %}
        pink
      {% endif %}
    ">{{ name }}</p>
  {% endfor %}

  <h1>显示变量</h1>
  <h3>str : {{ str }}</h3>
  <h3>num : {{ num }}</h3>
  <h3>tup : {{ tup }}</h3>
  <h3>tup[0] : {{ tup.0 }}</h3>
  <h3>list : {{ list }}</h3>
  <h3>list[1] : {{ list.1 }}</h3>
  <h3>dic : {{ dic }}</h3>
  <h3>dic['BJ'] : {{ dic.BJ }}</h3>
  <h3>dog : {{ dog }}</h3>
  <h3>dog.name : {{ dog.name }}</h3>
  <h3>dog.eat() : {{ dog.eat }}</h3>
  <h3>ret : {{ ret }}</h3>
</body>
</html>