<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/04-form/" method="post">

        {% csrf_token %}
<!-- 解析form对象,以便得到里面的控件 -->
    {% comment %}
        {% for field in form %}
            <P>
                {{ field.label }}:{{ field }}
            </P>
        {% endfor %}
        {% endcomment %}

        {% comment %}
        {{ form.as_p }}
        {% endcomment %}

        {% comment %}
        <ul>
        {{ form.as_ul }}
        </ul>
        {% endcomment %}

        <table>
            {{ form.as_table }}
        </table>
        <p>
            <input type="submit">
        </p>

    </form>

</body>
</html>